version: "3"

services:
  client:
    build: ./client
    ports:
      - 8080:8080
    volumes:
      - ./client:/data
    environment:
      - API_URL=http://localhost:8081/
      
  db:
    image: mysql
    volumes:
      - ./db:/data/db
    environment:
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=database